/* 1. Виділити перший елемент <li> та надати йому жирний шрифт */
li:first-child {
    font-weight: bold;
}

/* 2. Вибрати всі елементи <a>, які є останніми дочірніми елементами свого батька, і пофарбувати їх у червоний колір */
a:last-child {
    color: red;
}

/* 3. Вибрати всі елементи input, які вимкнено (disabled), і надати їм сірий фоновий колір */
input:disabled {
    background-color: grey;
}

/* 4. Вибрати всі елементи <p>, які є прямими дочірніми елементами <div>, і надати їм напівжирний шрифт */
div > p {
    font-weight: bold;
}

/* 5. Вибрати всі елементи, які мають атрибут href, що починається з https, і пофарбувати їх у зелений колір */
a[href^="https"] {
    color: green;
}

/* 6. Вибрати всі елементи input, які мають атрибут type як text і обвести їх рамкою 1 піксель суцільним синім кольором */
input[type="text"] {
    border: 1px solid blue;
}

/* 7. Вибрати всі елементи <li>, які є першими або останніми дочірніми елементами батьківського елемента, і встановити для них розмір шрифту 24 пікселя */
li:first-child, li:last-child {
    font-size: 24px;
}

/* 8. Вибрати всі елементи <p>, які є нащадками елемента <div> і встановити для них розмір шрифту 16 пікселів */
div p {
    font-size: 16px;
}

/* 9. Вибрати всі елементи input зі значенням checked, і надати їм фонового кольору світло-блакитний */
input:checked {
    background-color: lightblue;
}

/* 10. Виділити всі елементи <a>, які є прямими дочірніми елементами <li>, і підкреслити їх текстом */
li > a {
    text-decoration: underline;
}

/* 11. Виділити всі елементи <li>, які є парними елементами батьківського елемента, і надати їм жирний шрифт */
li:nth-child(even) {
    font-weight: bold;
}

/* 12. Вибрати всі елементи <input>, які мають атрибут типу text і не disabled, і надати їм фоновий колір сірого кольору */
input[type="text"]:not(:disabled) {
    background-color: lightgrey;
}

/* 13. Вибрати всі елементи <p>, які є першими дочірніми елементами батьківського елемента, і встановити для них розмір шрифту 24 пікселя */
p:first-child {
    font-size: 24px;
}

/* 14. Вибрати елемент <li>, який йде після елемента з класом .special і зробити його перечеркнутим */
.special + li {
    text-decoration: line-through;
}

/* 15. Виділити першу літеру кожного елемента <p> і надати їй розмір шрифту 36 пікселів */
p::first-letter {
    font-size: 36px;
}

/* 16. Додати ::after для кожного елемента <a> та надати йому вміст ↗ */
a::after {
    content: " ↗";
}
